{
  key_type p256
  email mac@pse.dev # for acme
  log {
    level error
  }
  encode zstd gzip
  servers {
    metrics
  }
}
notary.proof.codes {
    reverse_proxy /V6.7* localhost:6 {
    reverse_proxy /V6.6* localhost:5 {
    reverse_proxy /V6.1* localhost:4 {
    reverse_proxy /V6.0* localhost:3 {
    reverse_proxy /V2.5.12* localhost:2 {
    reverse_proxy /V2.5.11* localhost:1 {
}
