{
  key_type p256
  email mac@pse.dev # for acme
  servers {
    metrics
  }
  log {
    output stdout
    format console {
      time_format common_log
      time_local
    }
    level INFO
  }
}
notary.proof.codes {
    reverse_proxy /V9.0* localhost:6062
}
