{
  key_type p256
  email mac@pse.dev # for acme
  servers {
    metrics
  }
  log {
    output stdout
    format console {
      time_format common_log
      time_local
    }
    level INFO
  }
}
notary.proof.codes {
    reverse_proxy /v12.0* localhost:6066
    reverse_proxy /v11.0* localhost:6065
    reverse_proxy /V10.11* localhost:6064
    reverse_proxy /v10.1* localhost:6063
    reverse_proxy /V9.0* localhost:6062
}
